<h2>Available drones</h2>

{{#each listDrones}}
{{!-- <ul>
    <li>{{this.name}}</li>
    <li>{{this.propellers}}</li>
    <li>{{this.maxSpeed}}</li>
</ul>

<div class="d-flex flex-row">
<button class="btn btn-outline-success edit-btn"><a href="/drones/{{this._id}}/edit">Edit</a></button>

<form action="/drones/{{this._id}}/delete" method="POST">
<button type="submit" class="btn btn-outline-danger delete-btn">Delete</button>
</form>
</div>
<br> --}}

<div class="card text-white bg-dark mb-3" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body card-style">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">Propellers: {{this.propellers}}</p>
    <p class="card-text">Max Speed: {{this.maxSpeed}}</p>
    <div class="d-flex flex-row">
<button class="btn btn-outline-success edit-btn"><a href="/drones/{{this._id}}/edit">Edit</a></button>

<form action="/drones/{{this._id}}/delete" method="POST">
<button type="submit" class="btn btn-outline-danger delete-btn">Delete</button>
</form>
  </div>
</div>
<br>
{{/each}}